html, body {
    height: 100%;
}

#nav-list {
    margin-left: 20px;
}

.heb, .heb > .alert {
    text-align: right;
    direction: rtl;
    unicode-bidi: embed;
}

.charts-col {
    margin-top: 10px;
    height: 90vh;
    overflow: auto;
}

.main-chart {
    height: 70%;
}

#main-chart-total {
    height: 100%;
}

#main-chart-split {
    height: 100%;
}

.ranger {
    min-height: 120px;
    height: 20%;
    /*background-color: indianred;*/
}

#bars {
    min-height: 120px;
    height: 50%;
    /*background-color: indianred;*/
}

#controls {
    /*height: 160px;*/
}

.picker {
    margin-top: 15px !important;
}

/*---------------------------------------------------------------------*/
.controls-col .bk-root > div {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}

.controls-col .bk-root, .controls-col .bk-widget-box {
    width: 100% !important;
}

.disease_selector ul {
    max-height: 400px;
    overflow: auto;
}