html, body {
    height: 100%;
}

.heb {
    text-align: right;
    direction: rtl;
    unicode-bidi: embed;
}

.spacer {
    margin-bottom: 10px;
}

#main-chart {
    /*min-height: 600px;*/
    height: 70%;
    /*background-color: steelblue;*/
}

#ranger {
    min-height: 120px;
    height: 20%;
    /*background-color: indianred;*/
}

#bars {
    min-height: 120px;
    height: 50%;
    /*background-color: indianred;*/
}

.charts-col {
    /*height: 90vh;*/
    /*overflow: auto;*/
}

#controls {
    /*height: 160px;*/
}

.controls-col .bk-root > div {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}

.controls-col .bk-root, .controls-col .bk-widget-box {
    width: 100% !important;
}