<!DOCTYPE html>
<html>
<head>
    <title>Epidemic - {{ title }}</title>

    <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.13.min.css"
            rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.13.min.js"></script>
</head>
<body>
<h1>Epidemic</h1>
{% block  content %}
    <h1>No Content</h1>
{% endblock %}
</body>
</html>