{% extends base %}
{% block preamble %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    {#<link rel="stylesheet" href="app/static/special.css">#}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock %}
{% block contents %}
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo">Epidemic</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="http://deanla.com">DeanLa.com</a></li>
{#                <li><a href="badges.html">Components</a></li>#}
{#                <li><a href="collapsible.html">JavaScript</a></li>#}
            </ul>
        </div>
    </nav>
    <div class="background">
        <div class="containerz">
            {{ plot_div }}
        </div>
    </div>
{% endblock %}