{% extends base %}
<!--Base end here -->
{% block preamble %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130447689-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-130447689-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="dashboard/static/css/custom.css">
    <link rel="shortcut icon" href="dashboard/static/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {#    Open Graph#}
    <meta property="og:image" content="https://i.imgur.com/SWuqgJ3.png">
    <meta property="og:url" content="http://www.epidemic.co.il/dashboard">
    <meta property="og:title" content="Epidemic{{ ' - ' + disease if disease else '' }}"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="720133621690497"/>
    <meta property="og:description"
          content="Explore epidemics, pandemics and outbreaks of contagious diseases in Israel">
{% endblock %}
{% block contents %}

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '720133621690497',
                cookie: true,
                xfbml: true,
                version: 'v3.2'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=720133621690497&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {#    navbar#}
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Epidemic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="nav-list">
                <li class="nav-item active">
                    <a class="nav-link" href="http://deanla.com" target="_blank">deanla.com<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://www.health.gov.il/UnitsOffice/HD/PH/epidemiology/Pages/epidemiology_report.aspx"
                       target="_blank">דוחות משרד הבריאות</a>
                </li>
            </ul>
        </div>
        {#        <span class="navbar-text">#}
        {#            <a href="http://deanla.com" target="_blank">deanla.com</a>#}
        {#        </span>#}
    </nav>
    {#    #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-12 order-1 order-sm-2 controls-col">
                <div class="row" id="controls">
                    {{ embed(roots[0]) }}
                </div>


                {#                <div class="fb-share-button" data-href="http://epidemic.co.il/" data-layout="button" data-size="large"#}
                {#                     data-mobile-iframe="true"><a target="_blank"#}
                {#                                                  href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fepidemic.co.il%2F&amp;src=sdkpreparse"#}
                {#                                                  class="fb-xfbml-parse-ignore">Share</a>#}
                {#                </div>#}
            </div>
            <div class="col-sm-9 col-12 order-2 order-sm-1 charts-col">
                <div class="main-chart">
                    <div class="row " id="main-chart-total">
                        <div class="col-12">
                            {{ embed(roots.main_chart) }}
                        </div>
                    </div>
                    <div class="row" id="main-chart-split">
                        <div class="col-12">
                            {{ embed(roots.main_chart_split) }}
                        </div>
                    </div>
                </div>
                <div class="row heb">
                    <div class="c-tooltip">
                        <h4 class="info">
                            <i class="fas fa-info-circle"></i>
                            מבט רב שנתי
                        </h4>
                        <span class="tooltiptext">
                            ניתן להזיז ולשנות את גודל השטח הכחול על מנת לשנות את ציר הזמן בגרף למעלה
                    </span>
                    </div>
                </div>
                <div class="row ranger" id="ranger-total">
                    <div class="col-12">
                        {{ embed(roots.ranger) }}
                    </div>
                </div>
                <div class="row heb">
                    <div class="c-tooltip">
                        <h4 class="info">
                            <i class="fas fa-info-circle"></i>
                            כמות מקרים שנתית -
                            <span class="disease">{{ disease_heb }}</span>
                        </h4>
                        <span class="tooltiptext">
                             בפילוח לאיזורים. ניתן לרחף מעל הצבעים השונים כדי לראות מספרים לכל איזור
                    </span>
                    </div>
                </div>
                <div class="row" id="bars">
                    <div class="col-12">
                        {{ embed(roots.bars) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="dashboard/static/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            var p = {{ p }};
            if (p == 1) {
                $("#main-chart-total").hide();
                $("#main-chart-split").show();
            } else if (p == 0) {
                $("#main-chart-total").show();
                $("#main-chart-split").hide();
            }
        });

    </script>
{% endblock %}